<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Project</title>
    </head>
    <body>
        {{> header}}

        <p>{{description}}</p>

        {{> footer}}
    </body>
</html>